* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    position: relative;
}

.header {
    width: 100vw;
    padding: 15px;
    position: absolute;

    display: grid;
    grid-template-columns: 44px auto 2rem;
    justify-content: space-between;
    align-items: start;
    background-color: #0085FF;
    font-family: 'roboto', arial, helvetica, sans-serif;
    z-index: 10;
}

.header a{
    color: #ffffff;
}

.header a.nav-close {
    font-size: 2.5rem;
}

.header .imageLogo {
    width: 44px;
    height: 52px;
}

.header .nav-items a {
    display: none;

    text-decoration: none;
    font-size: 1.5rem;
    padding: 7px 20px;
}

.header .responsive a:first-child {
    margin-top: 50px;
}

.header .responsive a {
    display: flex !important;
    justify-content: center;
}


.divisor, .divisor * {
    /* border: 1px solid red; */
}

.divisor {
    display: flex;
    align-items: center;
}

.divisor span:nth-child(odd) {
    width: calc(50% - 10px);
    height: 6px;
    display: block;
    background: #0085FF;
}

.divisor span:nth-child(2) {
    border-radius: 50%;
    width: 40px;
    height: 36px;
    border: 4px solid #0085FF;
    margin: 0 10px;
    display: block;
}

#secsobrenos, #secportfolio, #secorganizacao, #sectecnologias, #secintegrantes, #seccontato {
    width: 100vw;
    height: 100vh;
    padding: 0 6px;
}

.topicos {
    font-family: 'roboto', sans-serif;
}

.topicos section .descricao h1 {
    display: none;
}

.topicos, #secsobrenos, #secsobrenos * {
    /* border: 1px solid red; */
}
.topicos  #secsobrenos {
    position: relative;
    display: flex;
    align-items: center;
}

.topicos #secsobrenos .cont_imagem {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.topicos #secsobrenos .cont_imagem .imagem {
    width: 308px;
    margin: 0 calc(50% - 154px);
}

.topicos #secsobrenos .descricao {
    width: 90%;
    margin: 0 auto;
    max-width: 500px;
    background: rgba(0, 133, 255, 0.6);
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    margin-top: -9rem;
}


.topicos, #secorganizacao, #secorganizacao * {
    /* border: 1px solid red; */
}

#secorganizacao {
    display: flex;
    align-items: center;
}

#secorganizacao .carrosel {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#secorganizacao .carrosel .conteudo {
    position: relative;
}

#secorganizacao .carrosel .conteudo p {
    padding: 1rem 1.5rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;
    max-width: 500px;
}

#secorganizacao .carrosel .conteudo img {
    margin: 0 calc(50% - 150px);
    width: 300px;
}

#secorganizacao .carrosel .conteudo .passadores {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 70px;
    z-index: 3;
    font-size: 4rem;
    color: #0085FF;
}

#secorganizacao .carrosel .conteudo .passadores .left {
    padding-right: 6px;
}

#secorganizacao .carrosel .conteudo .passadores .right {
    padding-left: 6px;
}

#secorganizacao .carrosel .orientacao {
    display: flex;
    justify-content: center;
}

#secorganizacao .carrosel .orientacao span {
    display: block;
    width: 30px;
    height: 7px;
    margin: 0 2px;
    margin-top: 25px;
    border-radius: 15px;
    background: #C9C9C9;
}
#secorganizacao .carrosel .orientacao span:first-child {
    background: #0085FF;
}


.topicos, #sectecnologias, #sectecnologias * {
    /* border: 1px solid red; */
}

#sectecnologias {
}

#sectecnologias .conteudo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#sectecnologias .conteudo .tipoTecnologia {
    text-align: center;
}

#sectecnologias .conteudo .tipoTecnologia .tipo {
    color: #0085FF;
}

#sectecnologias .conteudo .tipoTecnologia .tipo h1 {
    color: #0085FF;
    padding: 6px 0;
}

#sectecnologias .conteudo .tipoTecnologia .icones {
    font-size: 2.5rem;
    color: #979797;
}

#sectecnologias .conteudo .tipoTecnologia .icones i {
    padding: 5px 9px;
    padding-top: 25px;
    margin: 0 2px;
}

#sectecnologias .conteudo .tipoTecnologia .icones i:nth-child(1) {
    background-color: #ff5a2ce0;
    color: #fff;
}

#sectecnologias .conteudo .tipoTecnologia .tipo h1 {
    background-color: #ff5a2ce0;
    color: #fff;
}

#sectecnologias .conteudo .amostra {
    height: 200px;
    margin: 15px;
    padding: 6px;
    border: 1px solid #c1c1c1;
}


@media screen and (min-width: 768px){

    .header {
        grid-template-columns: 54px auto;
        justify-content: space-evenly;
        align-items: center;
    }

    .header .nav-items {
        display: inline-block;
        margin-left: 20px;
    }

    .header a.nav-close {
        display: none;
    }

    .header .imageLogo {
        width: 54px;
        height: 62px;
    }

    .header .nav-items a {
        display: inline-block;
        margin: 0 auto;
        font-size: 1.3rem;
        padding: 5px 6px;
        /* margin: 0 2px; */
    }

    .header .responsive a:first-child {
        margin-top: 0;
    }
    
    .header .responsive a {
        display: inline-block !important;
    }

}